{
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "eqeqeq": "warn",
    "strict": ["error", "global"], // Enforce strict mode globally
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-restricted-globals": "off"
  }
}
